body {
	width: 100%;
    height: 100%;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

img {
	width: 250px;
	border-radius: 100%;
	box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
}


/****** INTRO ******/

.intro-section {
    padding-bottom: 6%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
}

.intro-section hr {
	width: 100px;
}

.intro-section i {
	font-size: 30px;
	transition: 0.5s;
	color: #1a1a1a;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
	width: 5%;
}

.intro-section i:hover {
	bottom: 10px;
	transition: 0.5s;
}


/****** SOBRE ******/

.about-section {
    padding-bottom: 10%;
    padding-top: 50px;
    text-align: center;
    background: #1a1a1a;
    height: 100%;
    display: flex;
    align-items: center;
}

.qualificacoes h3 {
	color: #f2f2f2;
}

.qualificacoes .fa.fa-star {
	color: gold;
}

.qualificacoes hr {
	width: 30px;
}

.qualificacoes p {
	color: #f2f2f2;
	font-size: 20px;
	text-align: left;
}

.title {
	background-color: #000;
	padding: 50px;
	text-align: center;
}

.title h1 {
	color: #f2f2f2;
}

.sinopse {
	background-color: #fff;
	padding: 10px 20px 20px 20px;
	margin-top: 100px;
	border-radius: 2px;
}


/****** PORTFOLIO ******/

.portfolio-section {
    padding-bottom: 10%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
}

.portfolio-section hr {
	width: 100px;
}

.portfolio-section h3 {
	padding-top: 10px;
}


/****** CONTATO ******/

.contact-section {
    padding-top: 100px;
    text-align: center;
    background: #000;
    height: 100%;
    display: flex;
    align-items: center;
}

.contact-section hr {
	width: 220px;
}

.contact-section #tel {
	font-size: 30px;
	color: #f2f2f2;
	text-decoration: none;
	transition: all 0.3s ease;
}

.contact-section #cel {
	font-size: 27px;
	color: #f2f2f2;
	text-decoration: none;
	transition: all 0.3s ease;
}

.contact-section #email {
	font-size: 19px;
	color: #f2f2f2;
	text-decoration: none;
	transition: all 0.3s ease;
}

#tel:hover,
#cel:hover,
#email:hover {
	color: #666 !important;
}

.pb {
	transition: 0.3s;
}

.pb:hover {
	opacity: 0.8;
	transition: 0.3s;
}

.social-link{	
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	list-style: none;
	padding: 0;
}

.social-link li a{
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 60px;
	color: #fff;
	background: #222222;
	border-radius: 50%;
}

.social-link li a i {
	padding-top: 20px;
}

.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}

.facebook {
	margin-right: 30px;
}
.facebook a:hover {
	background: #3b5998;
}

.instagram a:hover {
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );s;
}


/****** FOOTER ******/

  .copyright {
	background-color: #1a1a1a;
	padding: 10px 0 3px 0;
	color: #999999;
	text-align: center;
}