html, body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background: #f5f5f5;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-link {
  color: #7474bf;
  text-decoration: none !important;
  transition: 0.4s ease;
}

.custom-link:hover {
  color: #385273;
  transition: 0.4s ease;
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

@media (max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}

.modal-dialog .modal-content {
  border-radius: 0;
}

.title-line {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-line .title {
  white-space: nowrap;
  margin-right: 30px;
}

.title-line .line {
  border-bottom: 1px solid #333;
  width: 100%;
  margin: 0;
}

.title-bar {
  color: #333;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  position: relative;
}

.title-bar:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  width: 80px;
  border-left: 5px solid #333;
  border-right: 5px solid #333;
  border-top: 5px solid #333;
}

.title-bar.left {
  text-align: left;
}

.title-bar.left:before {
  left: 0;
  transform: translate(0);
  -ms-transform: translate(0);
}

main {
  height: 100%;
}

.entrance {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.entrance .parallax {
  z-index: 10;
}

.entrance .parallax img {
  width: 100%;
  filter: blur(4px);
}

.entrance .parallax .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.entrance .overparallax {
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  padding: 15px;
}

.entrance .overparallax h2 {
  color: #fff;
  font-weight: 300;
  font-size: 40px;
}

.entrance .overparallax h2 .name {
  color: #adcdfe;
  font-weight: 500 !important;
  font-size: 42px;
  font-family: "Lobster", cursive;
}

.entrance .overparallax h2 .cartoon {
  font-family: "Indie Flower", cursive;
  font-size: 45px;
}

.entrance .scroll-down {
  z-index: 20;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  font-size: 40px;
  color: #adcdfe;
  animation: arrow-bouncing 2s ease infinite;
  -webkit-animation: arrow-bouncing 2s ease infinite;
  transition: 2s ease;
}

.entrance .scroll-down:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.header {
  position: fixed;
  width: 100px;
  height: 100%;
  top: 0;
  right: -100px;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.header.show {
  right: 0;
  transition: 0.5s ease;
}

.header .bubbles {
  list-style: none;
  padding: 0;
}

.header .bubbles .bubble-item {
  margin-bottom: 15px;
}

.header .bubbles .bubble-item:last-child {
  margin-bottom: 0;
}

.header .bubbles .bubble-item .bubble-link {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #385273;
}

.header .bubbles .bubble-item.active .bubble-link {
  box-shadow: 0 0 1px 3px #adcdfe;
}

.header .bubbles .bubble-item.bubble-skills .bubble-link {
  box-shadow: 0 0 0 rgba(173, 205, 254, 0.8);
  animation: pulse 2s infinite;
}

.header .bubbles .bubble-item.bubble-skills .bubble-link:hover {
  animation: none;
}

.header-mobile {
  display: none;
}

.about {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.about .info .picture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .info .picture .box-img {
  width: 275px;
  height: 275px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 5px #7474bf;
  box-shadow: 0 0 4px 1px #b4b4b4;
}

.about .info .picture .box-img img {
  height: 100%;
}

.about .info .summary h3 {
  font-weight: 900;
  color: #333;
}

.about .info .summary p {
  font-size: 18px;
  color: #333;
}

.about .skills .list-skills {
  display: flex;
  margin-bottom: 0;
}

.about .skills .list-skills li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .skills .list-skills li .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about .skills .list-skills li .skill .skill-bubble {
  background: #7474bf;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.about .skills .list-skills li .skill .skill-bubble i {
  font-size: 44px;
  color: #fff;
}

.about .skills .list-skills li .skill h4 {
  font-weight: 900;
  color: #333;
  font-size: 22px;
}

.jobs {
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #fff;
}

.jobs h1 {
  font-weight: 800;
}

.jobs .jobs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.jobs .jobs-container .job-box {
  height: 300px;
  margin: 15px;
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .jobs .jobs-container .job-box.flex-1 {
    width: 100%;
  }
  .jobs .jobs-container .job-box.flex-1 .img-box img {
    max-height: none;
    width: 100%;
  }
  .jobs .jobs-container .job-box.flex-2 {
    width: calc(50% - 30px);
  }
  .jobs .jobs-container .job-box.flex-3 {
    width: calc(33.33% - 30px);
  }
}

.jobs .jobs-container .job-box:hover .img-box img {
  transform: scale(1.2, 1.2);
  transition: 1s ease-out;
}

.jobs .jobs-container .job-box:hover .img-box .img-overlay {
  opacity: 1;
  transition: 0.3s;
}

.jobs .jobs-container .job-box .img-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.jobs .jobs-container .job-box .img-box img {
  max-height: calc(100% + 30px);
  transition: 1s ease-out;
}

.jobs .jobs-container .job-box .img-box .img-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jobs .jobs-container .job-box .img-box .img-overlay p {
  font-size: 22px;
  font-weight: 300;
}

.jobs .jobs-container .job-box .img-box .img-overlay .list-techs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jobs .jobs-container .job-box .img-box .img-overlay .list-techs li {
  margin-right: 25px;
}

.jobs .jobs-container .job-box .img-box .img-overlay .list-techs li:last-child {
  margin-right: 0;
}

.jobs .jobs-container .job-box .img-box .img-overlay .list-techs li i {
  font-size: 26px;
}

.contact {
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #7474bf;
  color: #fff;
}

.contact h1 {
  color: #fff;
  font-weight: 800;
}

.contact h1:before {
  border-color: #fff;
}

.contact .btn-send {
  font-weight: 700;
  color: #adcdfe;
  background: transparent;
  border: solid 2px #adcdfe;
  width: 150px;
  transition: 0.5s ease;
}

.contact .btn-send:hover {
  background: #adcdfe;
  color: #7474bf;
  transition: 0.5s ease;
}

.contact .list-networks li {
  margin-bottom: 8px;
}

.contact .list-networks li:last-child {
  margin-bottom: 0;
}

.contact .list-networks li a {
  color: #fff;
  text-decoration: none !important;
  font-size: 20px;
  position: relative;
}

.contact .list-networks li a span {
  z-index: 20 !important;
  position: relative;
}

.contact .list-networks li a:hover {
  color: #fff;
}

.contact .list-networks li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.contact .list-networks li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: 10;
}

.contact .list-networks li a.whatsapp:before {
  background-color: #25d366;
}

.contact .list-networks li a.telegram:before {
  background-color: #0088cc;
}

.contact .list-networks li a.skype:before {
  background-color: #00aff0;
}

.contact .list-networks li a.messenger:before {
  background-color: #0084ff;
}

.contact .list-networks li i {
  font-size: 30px;
  margin-right: 5px;
  vertical-align: middle;
  color: #fff;
}

.contact .title-line .line {
  border-color: #fff;
}

.contact .list-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .list-social li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .list-social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-decoration: none !important;
  background: #adcdfe;
  color: #7474bf;
  transition: 0.3s ease;
}

.contact .list-social li a:hover {
  transition: 0.3s ease;
  color: #fff;
}

.contact .list-social li.social-facebook a:hover {
  background: #3b5998;
}

.contact .list-social li.social-instagram a:hover {
  background: #e1306c;
}

.contact .list-social li.social-linkedin a:hover {
  background: #0077b5;
}

.contact .list-social li.social-twitter a:hover {
  background: #1da1f2;
}

.contact .list-social li.social-github a:hover {
  background: #333;
}

footer {
  padding: 15px;
  background-color: #385273;
}

footer .copyright {
  text-align: center;
  margin: 0;
}

footer .copyright a {
  text-decoration: none !important;
  color: #fff;
  font-size: 14px;
}

footer .copyright a:hover i {
  color: tomato;
}

footer .copyright a:hover span {
  color: #adcdfe;
}
