// Variables
$primary: #7474bf;
$secondary: #385273;
$tertiary: #adcdfe;
$bg: #f5f5f5;
$font-color: #333;
$facebook: #3b5998;
$instagram: #e1306c;
$linkedin: #0077b5;
$twitter: #1da1f2;
$github: #333;
$whatsapp: #25d366;
$telegram: #0088cc;
$skype: #00aff0;
$messenger: #0084ff;
$roboto: 'Roboto', sans-serif;
$lobster: 'Lobster', cursive;
$raleway: 'Raleway', sans-serif;
$indieFlower: 'Indie Flower', cursive;
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$black: 900;

// Presets
html, body {
    width: 100%;
    height: 100%;
    font-family: $raleway;
    background: $bg;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.mt-15 {margin-top: 15px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-75 {margin-top: 75px !important;}
.mt-100 {margin-top: 100px !important;}

.mb-15 {margin-bottom: 15px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mb-75 {margin-bottom: 75px !important;}
.mb-100 {margin-bottom: 100px !important;}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-link {
    color: $primary;
    text-decoration: none !important;
    transition: 0.4s ease;

    &:hover {
        color: $secondary;
        transition: 0.4s ease;
    }
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    @media(max-width: 768px) {
        min-height: calc(100vh - 20px);
    }

    .modal-content {
        border-radius: 0;
    }
}

// Title with line
.title-line {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .title {
        white-space: nowrap;
        margin-right: 30px;
    }

    .line {
        border-bottom: 1px solid $font-color;
        width: 100%;
        margin: 0;
    }
}

// Title with bar
.title-bar {
    color: $font-color;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    position: relative;
}
  
.title-bar:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%);
    -ms-transform: translate(-50%);
    width: 80px;
    border-left: 5px solid $font-color;
    border-right: 5px solid $font-color;
    border-top: 5px solid $font-color;
}
  
.title-bar.left {
    text-align: left;
}
  
.title-bar.left:before {
    left: 0;
    transform: translate(0);
    -ms-transform: translate(0);
}

// Home
main {
    height: 100%;
}

// Entrance
.entrance {
    height: 100%;
    overflow: hidden;
    position: relative;

    .parallax {
        z-index: 10;

        img {
            width: 100%;
            filter: blur(4px);
        }

        .overlay {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
        }
    }

    .overparallax {
        z-index: 20;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 100%;
        padding: 15px;

        h2 {
            color: #fff;
            font-weight: $light;
            font-size: 40px;

            .name {
                color: $tertiary;
                font-weight: $medium !important;
                font-size: 42px;
                font-family: $lobster;
            }

            .cartoon {
                font-family: $indieFlower;
                font-size: 45px;
            }
        }
    }

    .scroll-down {
        z-index: 20;
        position: absolute;
        bottom: 10px; left: 50%;
        transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        font-size: 40px;
        color: $tertiary;
        animation: arrow-bouncing 2s ease infinite;
        -webkit-animation: arrow-bouncing 2s ease infinite;
        transition: 2s ease;

        &:hover {
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }
    }
}

// Header
.header {
    position: fixed;
    width: 100px;
    height: 100%;
    top: 0; right: -100px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    &.show {
        right: 0;
        transition: 0.5s ease;
    }

    .bubbles {
        list-style: none;
        padding: 0;

        .bubble-item {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            .bubble-link {
                display: block;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $secondary;
            }

            &.active {
                .bubble-link {
                    box-shadow: 0 0 1px 3px $tertiary;
                }
            }

            &.bubble-skills {
                .bubble-link {
                    box-shadow: 0 0 0 rgba(173, 205, 254, 0.8);
                    animation: pulse 2s infinite;

                    &:hover {
                        animation: none;
                    }
                }
            }
        }
    }
}
.header-mobile {
    display: none;
}

// About
.about {
    height: 100%;
    overflow: hidden;
    position: relative;

    .info {
        .picture {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .box-img {
                width: 275px;
                height: 275px;
                border-radius: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                // border: solid 5px rgba(213, 213, 213, 0.4);
                border: solid 5px $primary;
                box-shadow: 0 0 4px 1px rgb(180, 180, 180);

                img {
                    height: 100%;
                }
            }
        }

        .summary {
            h3 {
                font-weight: $black;
                color: $font-color;
            }

            p {
                font-size: 18px;
                color: $font-color;
            }
        }
    }

    .skills {
        .list-skills {
            display: flex;
            margin-bottom: 0;

            li {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .skill {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .skill-bubble {
                        background: $primary;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 100px;
                        
                        i {
                            font-size: 44px;
                            color: #fff;
                        }
                    }

                    h4 {
                        font-weight: $black;
                        color: $font-color;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

// Jobs
.jobs {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #fff;

    h1 {
        font-weight: 800;
    }

    .jobs-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .job-box {
            height: 300px;
            margin: 15px;
            overflow: hidden;
            position: relative;
            @media only screen and (min-width: 768px) {
                &.flex-1 {
                    width: 100%;
                    .img-box {
                        img {
                            max-height: none;
                            width: 100%;
                        }
                    }
                }
                &.flex-2 {
                    width: calc(50% - 30px);
                }
                &.flex-3 {
                    width: calc(33.33% - 30px);
                }
            }
            &:hover {
                .img-box {
                    img {
                        transform: scale(1.2, 1.2);
                        transition: 1s ease-out;
                    }

                    .img-overlay {
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
            }

            .img-box {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                height: 100%;

                img {
                    max-height: calc(100% + 30px);
                    transition: 1s ease-out;
                }

                .img-overlay {
                    background: rgba(0,0,0,0.5);
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: 0.3s;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    p {
                        font-size: 22px;
                        font-weight: $light;
                    }

                    .list-techs {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        li {
                            margin-right: 25px;

                            &:last-child {
                                margin-right: 0;
                            }

                            i {
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Contact
.contact {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: $primary;
    color: #fff;

    h1 {
        color: #fff;
        font-weight: 800;

        &:before {
            border-color: #fff;
        }
    }

    .btn-send {
        font-weight: $bold;
        color: $tertiary;
        background: transparent;
        border: solid 2px $tertiary;
        width: 150px;
        transition: 0.5s ease;

        &:hover {
            background: $tertiary;
            color: $primary;
            transition: 0.5s ease;
        }
    }

    .list-networks {
        li {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: #fff;
                text-decoration: none !important;
                font-size: 20px;
                position: relative;
                
                span {
                    z-index: 20 !important;
                    position: relative;
                }

                &:hover {
                    color: #fff;

                    &:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    left: 0;
                    // background-color: #fff;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                    z-index: 10;
                }

                &.whatsapp {
                    &:before {background-color: $whatsapp;}
                }
                &.telegram {
                    &:before {background-color: $telegram;}
                }
                &.skype {
                    &:before {background-color: $skype;}
                }
                &.messenger {
                    &:before {background-color: $messenger;}
                }
            }

            i {
                font-size: 30px;
                margin-right: 5px;
                vertical-align: middle;
                color: #fff;
            }
        }
    }

    .title-line {
        .line {
            border-color: #fff;
        }
    }

    .list-social {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 30px;
                width: 60px;
                height: 60px;
                border-radius: 100%;
                text-decoration: none !important;
                background: $tertiary;
                color: $primary;
                transition: 0.3s ease;

                &:hover {
                    transition: 0.3s ease;
                    color: #fff;
                }
            }

            &.social-facebook {
                a:hover {background: $facebook;}
            }
            &.social-instagram {
                a:hover {background: $instagram;}
            }
            &.social-linkedin {
                a:hover {background: $linkedin;}
            }
            &.social-twitter {
                a:hover {background: $twitter;}
            }
            &.social-github {
                a:hover {background: $github;}
            }
        }
    }
}

// Footer
footer {
    padding: 15px;
    background-color: $secondary;

    .copyright {
        text-align: center;
        margin: 0;

        a {
            text-decoration: none !important;
            color: #fff;
            font-size: 14px;

            &:hover {
                i {
                    color: tomato;
                }

                span {
                    color: $tertiary;
                }
            }
        }
    }
}